@model LojaVirtual.Models.Produto
<h3>Produto - Index</h3>

<h2>Produto</h2>
<b>Código: </b>@Model.Id <br/>
<b>Nome: </b>@Model.Nome <br/>
<b>Descrição: </b>@Model.Descricao <br/>
<b>Valor: </b>@Model.Valor.ToString("C")
